<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ScoreBoard</title>
</head>
<header>
    <h2>Здравствуйте, <span th:text="${#httpServletRequest.remoteUser}"></span></h2>
    <a sec:authorize="hasAuthority('ADMIN')" href="/admin">Панель администратора</a>
    <a href="/logout">Выйти из учетной записи</a>
</header>
<body>
<h1>Ваш рейтинг по решению задач:</h1>
<div th:each="category : ${scoreResults}">
    <table>
        <h2 th:text="${category.key}"></h2>
        <thead>
        <tr>
            <th>Категория задач:</th>
            <th>Ваш рейтинг:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${category.value}">
            <td th:text="${score.key}"></td>
            <td th:text="${score.value}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>